body{
    background-color: rgb(38, 105, 38);

}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 50px;
    border: 2px solid black;
}
a:hover{
    background-color: rgb(240, 240, 116);
    
}
nav a{
    font-weight: bolder;
    color: black;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 100px 10px 100px;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    transition: background-color 0.3s ease;  
}
.table-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 172);
    width: 80%;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;
    padding: 20px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse ;
    
}
table{
    width: 100%;
}